<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560752393387-ugo144ue2ee2ggrh4b7l164im9ul95el.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560752393387-ugo144ue2ee2ggrh4b7l164im9ul95el</string>
	<key>API_KEY</key>
	<string>AIzaSyBK0bSXXXNwPBejshfF2z7sy6vCMZMIw1A</string>
	<key>GCM_SENDER_ID</key>
	<string>560752393387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.twu.csci.cs3313.Core-Skills</string>
	<key>PROJECT_ID</key>
	<string>myfirstfirebase-2bf26</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirstfirebase-2bf26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560752393387:ios:6c6b0247be2885f17e0bee</string>
	<key>DATABASE_URL</key>
	<string>https://myfirstfirebase-2bf26.firebaseio.com</string>
</dict>
</plist>